:host {
  background-color: rgba(188, 227, 230, 0.6);
  display: grid;
  grid-template-rows: 30% 30%;
  grid-template-columns: 90% 10%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-area: header;
  padding: 5px;
}

a {
  margin: 0 10px;
}

a#logoutLink {
  grid-row-start: 2;
  grid-column-start: 2;
  justify-self: end;
  margin: 0;
}

div#navigateButtons {
  grid-row-start: 2;
  grid-column-start: 1;
}

span.FIO {
  grid-row-start: 1;
  grid-column-start: 2;
  justify-self: end;
}


