:host {
  grid-area: aside;
  background-color: rgba(188, 227, 230, 0.6);
  text-align: center;
}

h1 {
  font-size: 1em;
}

ul {
  list-style-type: none;

}

li {
  text-align: left;
  display: grid;
  grid-template-columns: 90% 1fr;
}

li span {
  text-align: center;
}

input[type=number] {
  width: 50px;
}

