:host {
  grid-area: aside;
  background-color: rgba(188, 227, 230, 0.6);
  text-align: center;
}

h1 {
  font-size: 1em;
}

ul {
  list-style-type: none;
}

li::after {
  content: "X";
  display: inline-block;
  margin-left: 10px;
}

input[type=number] {
  width: 50px;
}

